<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add</title>
    <style>
    </style>
</head>
<body>
<!--/*@thymesVar id="shop" type="com.test_task.entity.Shop"*/-->
<form action="#" th:action="@{'/chain/edit/' + ${shop.getId()}}" th:object="${shop}" th:method="patch">
    <fieldset>
        <button type="submit" id="submitButton"> Save</button>
        <button type="reset" id="resetButton"> Reset</button>
        <button type="button" id="backButton" onclick="history.back()"> Back</button>
        <table>
            <thead>
            <tr>
                <th> Name</th>
                <th> Address</th>
            </tr>
            </thead>
            <tbody>
            <td>
                <input th:field="*{name}"/>
                <p th:if="${#fields.hasErrors('name')}">Invalid name</p>
            </td>
            <td>
                <input th:field="*{address}"/>
                <p th:if="${#fields.hasErrors('address')}">Invalid address</p>
            </td>
            </tr>
            </tbody>
        </table>
    </fieldset>
</form>
</body>
</html>