<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Мережа магазинів</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<form action="#" th:action="@{/stores/add}" th:method="get" >
    <input type="hidden" name="_method" value="get" />
    <button type="submit" id="addButton">Add</button>
</form>
<table>
    <thead>
    <tr>
        <th> Name </th>
        <th> Address </th>
    </tr>
    </thead>
    <tbody>
    <!--/*@thymesVar id="stores" type="java.util.List<com.test_task.entity.Store>"*/-->
    <tr th:if="${stores.isEmpty()}">
        <td colspan="2"> No stores Available </td>
    </tr>
    <tr th:each="store : ${stores}">
        <td><span th:text="${store.getName()}"> Name </span></td>
        <td><span th:text="${store.getAddress()}"> Address </span></td>
        <!--/*@thymesVar id="store" type="com.test_task.entity.Store"*/-->
        <td>
            <form action="#" th:action="@{'/stores/edit/' + ${store.id}}" th:method="get" >
                <input type="hidden" name="_method" value="get" />
                <button type="submit" id="editButton">Edit</button>
            </form>
        </td>
        <td>
            <form action="#" th:action="@{'/stores/delete/' + ${store.id}}" th:method="delete" >
                <input type="hidden" name="_method" value="delete" />
                <button type="submit" id="deleteButton">Delete</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>