<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <title>Мережа магазинів</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<a href="/home">На головну</a>
<div th:align="center">
    <form sec:authorize="hasRole('ADMIN')" action="#" th:action="@{/chain/add}" th:method="get">
        <input type="hidden" name="_method" value="get"/>
        <button align="center" type="submit" id="addButton">Add</button>
    </form>
</div>
<table th:align="center">
    <thead>
    <tr>
        <th> Name</th>
        <th> Address</th>
    </tr>
    </thead>
    <tbody>
    <!--/*@thymesVar id="shopDtoList" type="java.util.List<com.test_task.dto.ShopDto>"*/-->
    <tr th:if="${shopDtoList.isEmpty()}">
        <td colspan="2"> No shops Available</td>
    </tr>
    <tr th:each="shopDto : ${shopDtoList}">
        <td><span th:text="${shopDto.getName()}"> Name </span></td>
        <td><span th:text="${shopDto.getAddress()}"> Address </span></td>
        <!--/*@thymesVar id="shopDto" type="com.test_task.dto.ShopDto"*/-->
        <td>
            <form sec:authorize="hasRole('ADMIN')" action="#" th:action="@{'/chain/edit/' + ${shopDto.id}}"
                  th:method="get">
                <input type="hidden" name="_method" value="get"/>
                <button type="submit" id="editButton">Edit</button>
            </form>
        </td>
        <td>
            <form sec:authorize="hasRole('ADMIN')" action="#" th:action="@{'/chain/delete/' + ${shopDto.id}}"
                  th:method="delete">
                <input type="hidden" name="_method" value="delete"/>
                <button type="submit" id="deleteButton">Delete</button>
            </form>
        </td>
        <td>
            <form action="#" th:action="@{'/products/shop/' + ${shopDto.id}}" th:method="get">
                <input type="hidden" name="_method" value="delete"/>
                <button type="submit" id="selectShop">Select</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>