<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add</title>
</head>
<body>
<!--/*@thymesVar id="product" type="com.test_task.entity.Product"*/-->
<form th:action="@{/products/add}" th:object="${product}" method="post">
    <fieldset>
        <button type="submit" id="submitButton"> Save </button>
        <button type="reset" id="resetButton" name="reset"> Reset </button>
        <button type="button" id="backButton" onclick="history.back()"> Back</button>
        <table>
            <thead>
            <tr>
                <th> Name</th>
                <th> Description</th>
                <th> Price</th>
            </tr>
            </thead>
            <tbody>
                <td>
                    <input  th:field="*{name}"/>
                    <p th:if="${#fields.hasErrors('name')}">Invalid name</p>
                </td>
                <td>
                    <input th:field="*{description}" />
                    <p th:if="${#fields.hasErrors('description')}">Invalid description</p>
                </td>
                <td>
                    <input th:field="*{price}" />
                    <p th:if="${#fields.hasErrors('price')}">Invalid price</p>
                </td>
            </tr>
            </tbody>
        </table>
    </fieldset>
</form>
</body>
</html>