<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <title>Магазин</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<a href="/chain/shops">Мережа магазинів</a>
<a href="/home">Головна</a>
<div th:align="center">
    <form action="#" th:action="@{/products/add}" th:method="get" >
        <input type="hidden" name="_method" value="get" />
        <button type="submit" id="addButton">Add</button>
    </form>
</div>
<table th:align="center">
    <thead>
    <tr>
        <th> Name </th>
        <th> Address </th>
        <th> Price </th>
    </tr>
    </thead>
    <tbody>
    <!--/*@thymesVar id="products" type="java.util.List<com.test_task.entity.Product>"*/-->
    <tr th:if="${products.isEmpty()}">
        <td colspan="2"> No shops Available </td>
    </tr>
    <tr th:each="product : ${products}">
        <td><span th:text="${product.getName()}"> Name </span></td>
        <td><span th:text="${product.getDescription()}"> Address </span></td>
        <td><span th:text="${product.getPrice()}"> Price </span></td>
        <!--/*@thymesVar id="product" type="com.test_task.entity.Product"*/-->
        <td>
            <form sec:authorize="hasRole('ADMIN')" action="#" th:action="@{'/products/edit/' + ${product.getId()}}" th:method="get" >
                <input type="hidden" name="_method" value="get" />
                <button type="submit" id="editButton">Edit</button>
            </form>
        </td>
        <td>
            <form sec:authorize="hasRole('ADMIN')" action="#" th:action="@{'/products/delete/' + ${product.getId()}}" th:method="delete" >
                <input type="hidden" name="_method" value="delete" />
                <button type="submit" id="deleteButton">Delete</button>
            </form>
        </td>
        <td>
    </tr>
    </tbody>
</table>
</body>
</html>